<mat-nav-list >
    <a *ngIf='!isAuth' mat-list-item routerLink="/signup" (click)='onClose()'><mat-icon>face</mat-icon>
    <span class='nav-caption'>SignUp</span></a>
    <a *ngIf='!isAuth' mat-list-item routerLink="/login" (click)='onClose()'><mat-icon>supervisor_account</mat-icon>
        <span class='nav-caption'>LogIn</span></a>
    <a *ngIf='isAuth' mat-list-item routerLink="/training" (click)='onClose()'><mat-icon>accessibility</mat-icon>
        <span class='nav-caption'>Training</span></a>

        <mat-list-item>
            <button *ngIf='isAuth' mat-icon-button (click)='onlogout()'>
                <mat-icon>
                    eject
                </mat-icon> <span class='nav-caption'>LogOut</span>
            </button>
        </mat-list-item>
</mat-nav-list>